.score-container {
    background-color: #FBFBFB;
    position: relative;
    max-width: 258px;
    max-height: 258px;
    width: 100%;
    height: 100%;
    margin: 10px;
    border-radius: 5px;

    @media (min-width: 1440px) {
        max-width: 350px;
    }

    .score-label {
        position: absolute;
        top: 24px;
        left: 30px;
        font-size: 18px;
        font-weight: 500;
    }

    .score-text-container {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;

        .score-percentage {
            font-size: 26px;
            font-weight: 700;
            margin-bottom: 5px;
        }

        .score-subtitle {
            font-size: 16px;
            line-height: 1.5;
        }
    }
}