.error-page {
    color: red;
    height: 70vh;
    width: 100%;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;

    .error-title {
        font-size: 100px;
        font-weight: 700;
    }

    .error-description {
        font-size: 26px;
        color: red;
        font-weight: 500;
    }
}